*{
    margin: 0;
    padding: 0;
}

.sale {
    content: "SALE";
    background-color: red;
    color: white;
    font-size: 15px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    left: -34px;
    top: -17px;
    padding: 7px 15px;
    display: inline-block;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}


/* PRODUCT */
.product {
    border: 4px solid black;
    width: 825px;
    margin: 50px auto;
    position: relative;
}

.product-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 15px;
}

/* PRODUCT INFORMATION */
.price {
    font-size: 24px;
    margin: 0;
}

.shipping {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #777;
    margin-bottom: 20px;
}

.more-info:link, .more-info:visited {
    color: black;
    margin-bottom: 30px;
    display: inline-block;
}

.more-info:hover, .more-info:active {
    text-decoration: none;
}

.more-info::after {
    content: "";
    background-color: black;
}

.box {
    margin-top: 10px;
    display: flex;
}

.color {
    background-color: #000;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-right: 12px;
}

.color-black {
    background-color: black;
}

.color-blue {
    background-color: #f0bf1e;
}

.color-red {
    background-color: #ec2f2f;

}

.color-green {
    background-color: #90cc20;
}

.color-brown {
    background-color: saddlebrown;
}

.color-yellow {
    background-color: lightgoldenrodyellow;
}

/*.color-box{
    width: 25px;
    height: 25px;
}

.black-box {
    background-color: black;
}

.red-box {
    background-color: red;
}

.yellow-box {
    background-color: lightgoldenrodyellow;
}

.blue-box {
    background-color: dodgerblue;
}

.green-box {
    background-color: darkseagreen;
}

.brown-box {
    background-color: saddlebrown;
}*/

/* PRODUCT DETAILS */
.details-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.details-list {
    list-style: square;
    margin-left: 20px;
}

.details-list li {
    margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}

.add-cart:hover {
    color: #000;
    background-color: #fff;
}